<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gaba.eskukap">

    <application
        android:label="FakeCamera"
        android:icon="@mipmap/ic_launcher">
        
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="xposedmodule"
            android:value="true" />

        <meta-data
            android:name="xposeddescription"
            android:value="Fake camera override module" />

        <meta-data
            android:name="xposedminversion"
            android:value="93" />

        <meta-data
            android:name="xposedinitializer"
            android:value="com.gaba.eskukap.xposed.HookLoader" />
    </application>

</manifest>
